.custom *{
	font-family: 'arial';
}

.custom label{
	display: table;
	cursor: auto;
}
.custom [data-windbox="background"]{
	position: fixed;
	display: block;
	
	top:0px;
	left:0px;
	width:100%;
	height:100%;

	background:rgb(0, 173, 239);
    background: transparent\9; 
    background:rgba(0, 173, 239,0.8); 
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#9933BDF2,endColorstr=#9933BDF2); /* needed for IE 6-8 */    
    zoom: 1; 

}.custom [data-windbox="wrapper"]{	
	position: absolute;
	display: block;
	
	top:0px;
	left:0px;
	width:100%;
	height:100%;

	pointer-events:none;
	
}.custom [data-windbox="box"]{		
	position: absolute;
	display: table;
	background: #ccc;
	pointer-events:auto;
}

.custom [data-windbox="loading"]{		
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;

	background:rgb(0,0,0); 
    background: transparent\9; 
    background:rgba(0,0,0,0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000); 
    zoom: 1; 
	
}.custom [data-windbox="loading-content"]{	
	display: table-cell;
	margin: auto;
	vertical-align: middle;
	text-align: center;
	color: #fff;

}

.custom [data-windbox="header"]{
	display: table;
	width: 100%;
	/*padding-right: 5px;*/
	box-sizing:border-box;
}.custom [data-windbox="header-left"]{
	display: table-cell;
	width: 1px;
}.custom [data-windbox="header-center"]{
	display: table-cell;	
}.custom [data-windbox="header-right"]{
	display: table-cell;	
}

.custom [data-windbox="footer"]{
	display: table;
	width: 100%;
	box-sizing: border-box;
}.custom [data-windbox="footer-left"]{
	display: table-cell;
	text-align: left;
	vertical-align: top;
	width: 33%;
}.custom [data-windbox="footer-center"]{
	display: table-cell;
	text-align: center;
	vertical-align: top;
	width: 33%;
}.custom [data-windbox="footer-right"]{
	display: table-cell;	
	text-align: right;
	vertical-align: top;
	width: 33%;
}


.custom [data-windbox="box"]{
	background: #666;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	box-shadow: 0px 0px 0px 3px #303030,10px 10px 7px 5px rgba(0,0,0,0.5);

}

/* Header ------------------------------------------  */
.custom [data-windbox="header"]{
	/*border-bottom: 1px solid #ccc;*/
	margin-bottom: 5px;
	background: #333;
	padding-right: 8px;
}.custom [data-windbox="header-left"]{
	padding:5px;
	color: #666;
	text-align: left;
}.custom [data-windbox="header-center"]{
	vertical-align: middle;	
	color: #fff;
	text-align: left;
	font-weight: bold;
}.custom [data-windbox="header-right"]{
	vertical-align: middle;
	color: #50bdf0;
	text-align: right;
}

/* footer ------------------------------------------  */
.custom [data-windbox="footer"]{	
	margin-top: 5px;
	padding:5px;

	}	

/* content ------------------------------------------  */
.custom [data-windbox="content"]{
	padding: 5px;	
	
	height: 100%;
	display: table-row;
}.custom [data-windbox="content-value"] {
	color: #eee;
	margin-right: 5px;
	margin-left: 5px;
}.custom [data-windbox="content"] img{

}

.custom [data-rel="inputContentWrapper"]{
	display: table;
	width: 100%;
	height: 100%;
	box-sizing:border-box;
}

.custom [data-type="col"]{
	/*display: inline-table;	*/
	text-align: right;
	vertical-align: top;
	width: auto;
	/*border:1px solid red;*/

	overflow: auto;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    /*height: 100%;*/

}
.custom [data-windbox="footer"] [data-type="header"],
.custom [data-windbox="footer"] [data-type="col"]{
	margin: 0px;
}



.custom [data-windbox="footer-left"] [data-type="col"] {
    margin: 0px;
    margin-right: 3px;
}.custom [data-windbox="footer-center"] [data-type="col"] {
    margin: 0px;
    margin-right: 3px;
}.custom [data-windbox="footer-right"] [data-type="col"] {
    margin: 0px;
}

.custom [data-type="submit"],
.custom [data-type="a"],
.custom [data-type="button"]{
	display: inline-table;
	
	font-size: 13px ;
	font-family: arial;
	-moz-margin-start: -1px;
	
	text-decoration: none;
	
	
	color:#fff ;
	text-shadow: none;
	cursor: pointer;
	padding: 7px;
	padding-left: 13px;
	padding-right: 13px;
	margin: 0px;

	background: #545454;
	text-decoration: none;
	border: 1px solid #414141;
	border-radius: 0px;

}
@-moz-document url-prefix() {
    .custom [data-type="a"]{
    	display: inline-table;
	
		font-size: 13px ;
		font-family: arial;
		-moz-margin-start: -1px;
		background:#6A8394;
		
		
		border: 1px solid #6A8394 ;
		border-radius: 2.5px;
		color:#fff ;
		text-shadow: none;
		cursor: pointer;
		padding: 7px;
		padding-bottom: 8px;
		padding-top: 8px;
		margin: 0px;
	}
}



.custom [data-type="submit"]:hover,
.custom [data-type="a"]:hover,
.custom [data-type="button"]:hover{
	display: inline-table;
		
	font-size: 13px ;
	font-family: arial;
	-moz-margin-start: -1px;
	
	text-decoration: none;
	
	
	color:#fff ;
	text-shadow: none;
	cursor: pointer;
	padding: 7px;
	padding-left: 13px;
	padding-right: 13px;
	margin: 0px;

	background: #433F3F;
	text-decoration: none;
	border: 1px solid #414141;
	border-radius: 0px;
}
@-moz-document url-prefix() {
    .custom [data-type="a"]:hover{
    	display: inline-table;
	
		font-size: 13px ;
		font-family: arial;
		-moz-margin-start: -1px;
		
		
		
		border-radius: 2.5px;
		
		text-shadow: none;
		cursor: pointer;
		padding: 7px;		

		color:#fff;
		background:#66bdff;
		border:1px solid #0d9eff;

		padding-bottom: 8px;
		padding-top: 8px;
		margin: 0px;
	}
}

/*.custom [data-type="a"]:hover{
	padding-bottom: 8px;
	padding-top: 8px;	
}*/
.custom [data-type="submit"]:active,
.custom [data-type="a"]:active,
.custom [data-type="button"]:active{
	display: inline-table;
	
	font-size: 13px ;
	font-family: arial;
	-moz-margin-start: -1px;

	border-radius: 2.5px;
	
	
	text-shadow: none;
	cursor: pointer;
	padding: 7px;
	padding-left: 13px;
	padding-right: 13px;

	color:#00416E;
	background:#007CD0;
	border:1px solid #025E9C;
	margin: 0px;
}
@-moz-document url-prefix() {
    .custom [data-type="a"]:active{
    	display: inline-table;
	
		font-size: 13px ;
		font-family: arial;
		-moz-margin-start: -1px;

		border-radius: 2.5px;
		
		text-shadow: none;
		cursor: pointer;
		padding: 7px;
		

		color:#00416E;
		background:#007CD0;
		border:1px solid #025E9C;

		padding-bottom: 8px;
		padding-top: 8px;
		margin: 0px;
	}
}



.custom input:not([type="submit"]),
.custom textarea,
.custom select{
	display: inline-table;
	font-size: 13px;
	font-family: arial;
	-moz-margin-start: -1px;
	background: #f4f4f4;
	border: 1px solid #ccc;
	border-radius: 2.5px;
	text-shadow: none;
	padding: 7px;
	/*padding-left: 13px;*/
	/*padding-right: 13px;*/
	box-shadow: 1px 1px 2px -1px #ccc inset;
	color: #777;
	width: 100%;
	box-sizing: border-box;
}
.custom input:not([type="submit"]):focus,
.custom textarea:focus,
.custom select:focus{
	display: inline-table;
	font-size: 13px;
	font-family: arial;
	-moz-margin-start: -1px;
	background: #f4f4f4;
	border: 1px solid #64AACC;
	border-radius: 2.5px;
	text-shadow: none;
	padding: 7px;
	/*padding-left: 13px;*/
	/*padding-right: 13px;*/
	box-shadow: 1px 1px 2px -1px #ccc inset;
	color: #444;
	box-sizing: border-box;
}


.custom  .iconinfo {
		display: block;
		width: 34px;
		height: 32px ;
		background: url('../windbox/icons/info.png') no-repeat;
	}.custom  .iconloading {
		display: block;
		width: 34px;
		height: 32px ;
		background: url('../windbox/icons/loading.gif') no-repeat;
		
	}.custom .iconsuccess {
		display: block;
		width: 34px;
		height: 32px ;
		background: url('../windbox/icons/success.png') no-repeat;
		
	}.custom .iconsuccess_email {
		display: block;
		width: 34px;
		height: 32px ;
		background: url('../windbox/icons/success_email.png') no-repeat;
		
	}.custom .iconerror {
		display: block;
		width: 34px;
		height: 32px ;
		background: url('../windbox/icons/error.png') no-repeat;
		
	}.custom .iconquestion {
		display: block;
		width: 34px;
		height: 32px ;
		background: url('../windbox/icons/question.png') no-repeat;
		
	}




div[data-type="thumblist"]{
	height: 91px;
	width: 350px;
	overflow-x: scroll;
	overflow-y: hidden;
}div[data-type="thumblist"] ul{	
	white-space: nowrap;
	text-align: left;
	margin: 0px;
}div[data-type="thumblist"] ul > li{	
	list-style: none;
	text-align: left;
	display: inline-table;
	border:2px solid #fff;
	/*white-space: nowrap;*/
}div[data-type="thumblist"] ul > li[data-status="active"]{	
	border:2px solid #498FC2;
}div[data-type="thumblist"] ul > li > a{		
	padding: 5px;
	margin-left: 2px;
	background: #eee;
	height: 50px;
	width: 60px;
	border: 1px solid #D2D2D2;
	display: table;
	background-position: 50% 50% !important;
	background-size: cover !important;
	cursor: pointer;
	position: relative;
}div[data-type="thumblist"] ul > li > a > span{	
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding:5px;
	background: rgba(0,0,0,0.8);
	color: #fff;
	visibility: hidden;
	box-sizing: border-box;
	/*transition:200ms;*/
}div[data-type="thumblist"] ul > li > a:hover > span{		
	visibility: visible;
}	