/**
 * WindBox 1.0 - 10/04/2016
 * modal box cross-browser
 * 
 * developed by Wallace Rio <wallrio@gmail.com>
 * wallrio.com
 * 
 * tested on firefox/chrome/opera/ie8/safari
 */


.windbox_lightbox{

}
.windbox_lightbox [data-windbox="background"]{
	position: fixed;
	display: block;
	
	top:0px;
	left:0px;
	width:100%;
	height:100%;

	background:rgb(0,0,0);
    background: transparent\9; 
    background:rgba(0,0,0,0.8); 
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000); /* needed for IE 6-8 */    
    zoom: 1; 


}.windbox_lightbox [data-windbox="wrapper"]{	
	position: absolute;
	display: block;
	
	top:0px;
	left:0px;
	width:100%;
	height:100%;

	pointer-events:none;

}.windbox_lightbox [data-windbox="box"]{		
	position: absolute;
	display: table;
	/*background: #ccc;*/
	pointer-events:auto;

		/*background: transparent;*/
	border-radius: 3px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    /*box-shadow: 0px 0px 5px -3px #000;*/

    background: rgba(0, 0, 0, 0.73);
	padding: 10px;
}

.windbox_lightbox [data-windbox="loading"]{		
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;

	background:rgb(0,0,0); 
    background: transparent\9; 
    background:rgba(0,0,0,0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000); 
    zoom: 1; 
	
}.windbox_lightbox [data-windbox="loading-content"]{	
	display: table-cell;
	margin: auto;
	vertical-align: middle;
	text-align: center;
	color: #fff;

}

.windbox_lightbox [data-windbox="header"]{
	display: table;
	width: 100%;
}.windbox_lightbox [data-windbox="header-icon"]{
	display: table-cell;
	width: 1px;
}.windbox_lightbox [data-windbox="header-title"]{
	display: table-cell;	
}

.windbox_lightbox [data-windbox="footer"]{
	display: table;
	width: 100%;
	box-sizing: border-box;
}.windbox_lightbox [data-windbox="footer-left"]{
	display: table-cell;
	text-align: left;
	vertical-align: top;
	width: 33%;
}.windbox_lightbox [data-windbox="footer-center"]{
	display: table-cell;
	text-align: center;
	vertical-align: top;
	width: 33%;
}.windbox_lightbox [data-windbox="footer-right"]{
	display: table-cell;	
	text-align: right;
	vertical-align: top;
	width: 33%;
}




/* Header ------------------------------------------  */
.windbox_lightbox [data-windbox="header"]{
	border-bottom: 0px solid #ccc;
	margin-bottom: 0px;
}.windbox_lightbox [data-windbox="header-icon"]{
	padding:0px;
	color: #eee;
}.windbox_lightbox [data-windbox="header-title"]{
	vertical-align: middle;
	color: #50bdf0;
}

/* footer ------------------------------------------  */
.windbox_lightbox [data-windbox="footer"]{
	border-top: 0px solid #ccc;
	margin-top: 0px;
	padding:0px;

	}	

/* content ------------------------------------------  */
.windbox_lightbox [data-windbox="content"]{
	padding: 0px;	
	
}.windbox_lightbox [data-windbox="content-value"] {
	font-size: 18px;
	padding-bottom: 10px;
	color: #eee;
}.windbox_lightbox [data-windbox="content"] img{
	box-shadow: 0px 0px 10px -3px #000,0px 0px 0px 1px #000;
}

.windbox_lightbox [data-type="submit"],
.windbox_lightbox [data-type="a"],
.windbox_lightbox [data-type="button"]{
	display: inline-table;
	font-size: 13px;
	font-family: arial;
	-moz-margin-start: -1px;
	background: #0b4a78;
	border: 1px solid #06234e;
	border-radius: 2.5px;
	text-shadow: none;
	cursor: pointer;
	padding: 7px;
	padding-left: 13px;
	padding-right: 13px;
	color: #fff;
	margin-top: 4px;
	box-shadow: 0px 0px 4px -2px #000;



}
@-moz-document url-prefix() {
    .windbox_lightbox [data-type="a"]{
		padding-bottom: 8px;
		padding-top: 8px;
	}
}



.windbox_lightbox [data-type="submit"]:hover,
.windbox_lightbox [data-type="a"]:hover,
.windbox_lightbox [data-type="button"]:hover{
	display: inline-table;
	
	font-size: 13px ;
	font-family: arial;
	-moz-margin-start: -1px;
	
	
	
	border-radius: 2.5px;
	
	text-shadow: none;
	cursor: pointer;
	padding: 7px;
	padding-left: 13px;
	padding-right: 13px;

	color:#fff;
	background:#093554;
	/*border:1px solid #0d9eff;*/
	box-shadow: none;
}
@-moz-document url-prefix() {
    .windbox_lightbox [data-type="a"]:hover{
		padding-bottom: 8px;
		padding-top: 8px;
	}

.windbox_lightbox [data-type="submit"]:active,
.windbox_lightbox [data-type="a"]:active,
.windbox_lightbox [data-type="button"]:active{
	display: inline-table;
	
	font-size: 13px ;
	font-family: arial;
	-moz-margin-start: -1px;

	border-radius: 2.5px;
	
	text-shadow: none;
	cursor: pointer;
	padding: 7px;
	padding-left: 13px;
	padding-right: 13px;

	color:#000E18;
	background:#092335;
	border:1px solid #000E18;
	box-shadow: none;
}
@-moz-document url-prefix() {
    .windbox_lightbox [data-type="a"]:active{
		padding-bottom: 8px;
		padding-top: 8px;
	}
}


.windbox_lightbox  .iconinfo {
		display: block;
		width: 34px;
		height: 32px ;
		background: url('icons/info.png') no-repeat;
	}.windbox_lightbox  .iconloading {
		display: block;
		width: 34px;
		height: 32px ;
		background: url('icons/loading.gif') no-repeat;
		
	}.windbox_lightbox .iconsuccess {
		display: block;
		width: 34px;
		height: 32px ;
		background: url('icons/success.png') no-repeat;
		
	}.windbox_lightbox .iconsuccess_email {
		display: block;
		width: 34px;
		height: 32px ;
		background: url('icons/success_email.png') no-repeat;
		
	}.windbox_lightbox .iconerror {
		display: block;
		width: 34px;
		height: 32px ;
		background: url('icons/error.png') no-repeat;
		
	}.windbox_lightbox .iconquestion {
		display: block;
		width: 34px;
		height: 32px ;
		background: url('icons/question.png') no-repeat;
		
	}